version: '3.8'
services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db
    networks:
      - mongo-network

volumes:
  mongodb-data:

networks:
  mongo-network:
    driver: bridge
